<h2><%= current_user.user %></h2>
<p><%= link_to "Home Page", root_url %>,<%= link_to "Log Out",session_path("current"), method: "delete" %></p>
<h3>Expenses</h3>

<table id="transactions">
	<thead>
		<tr>
			<th>Date</th>
			<th>Description</th>
			<th>Amount</th>
			<th>Expense/Income</th>
		</tr>
	</thead>
	<tbody>
		<%= @user.transactions.each do |f| %>
		<tr>
			<td><%= f.created_at %></td>
			<td><%= f.description %></td>
			<td><%= f.amount %></td>
			<td><%= f.income %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New transaction", new_transaction_path %>