<h2>Welcome <b><i><%= current_user.user %></i></b></h2>

<h3>Summary of all expenses and savings</h3>

<table id="transactions" class="table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Description</th>
			<th>Amount</th>
			<th>Income</th>
		</tr>
	</thead>
	<tbody>
		<% @transactions.each do |f| %>
		<% if f.income %>
		<tr class="success">

			<td><%= f.created_at.strftime("%B %d, %Y") %></td>
			<td><%= f.description %></td>
			<td><%= f.amount %></td>
			<td><%= f.income %></td>
		</tr>
		<% else %>
		<tr>

			<td><%= f.created_at.strftime("%B %d, %Y") %></td>
			<td><%= f.description %></td>
			<td><%= f.amount %></td>
			<td><%= f.income %></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>


<% @transactions.each do |f| %>
	<% if f.income %>
		<% @total = @total + f.amount %>
	<% else %>
		<% @total = @total - f.amount %>
	<% end %>
<% end %>

<h4>Total: <%= @total %></h4>

<%= link_to "New transaction", new_transaction_path, class: "btn btn-lg btn-primary" %>